<div style="border:1px solid green; border-radius: .5rem; padding: 0 .5rem; margin-bottom: .5rem;" id="<%= dom_id article %>">
  <strong><%= article.title %></strong>

  <p>
    <%= article.body %>
  </p>

  <%= link_to 'Edit', edit_article_path(article), data: { turbo_frame: "article_form", turbo_prefetch: false } %>
  <%= link_to 'Delete', article_path(article), data: { turbo_method: :delete, turbo_frame: "articles", turbo_prefetch: false } %>
</div>